@model PMS.Models.team

@{
    ViewBag.Title = "add_team";
    Layout = "~/Views/Shared/_admin_MD_TL.cshtml";
}

<h2>add_team</h2>


@using (Html.BeginForm("add_team", "Team", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>team</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.member_name, new SelectList(Model.mt, "Username", "Username")," Select MT member", new { @id = "mt", @class = "form-control", @style = "width:350px;height:33px;display:inline-block;font-size:12px" , @required = true })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.project_name, new SelectList(Model.projects, "name", "name")," Select From projects",new { @id = "pro", @class = "form-control", @style = "width:350px;height:33px;display:inline-block;font-size:12px" , @required = true})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
            
    </div>
    
}

<div>
    @Html.ActionLink("Back to List", "ListTeam")
</div>

<script>
    $(document).ready(function () {
        $("#mt option:first-child").attr("disabled", "true");
    });

</script>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {

            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>