@model IEnumerable<PMS.Models.CreateProject>

@{
    ViewBag.Title = "List_MTL";
    Layout = "~/Views/Shared/_Home.cshtml";
}



@using (Html.BeginForm("AddProject", "Project", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <fieldset disabled="disabled">
            <input type="text" name="cust_name" value="@HttpContext.Current.User.Identity.Name" hidden />
            <div class="form-group">
                <label class="control-label col-md-2">Project_Name</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" name="name" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Description</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" name="descrption" />
                </div>
            </div>

            <input type="text" name="usrname" value="@HttpContext.Current.User.Identity.Name" hidden />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary btn-large" />
                </div>
            </div>
        </fieldset>
    </div>
}

<br />
<br />
<h3>Current Projects</h3>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pro_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strt_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.leader_name)
        </th>
        
    </tr>
    @foreach (var item in Model)
    {
        if (item.stat == "doing")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.pro_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.strt_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.end_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.leader_name)
                </td>
                
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-primary btn-large" })
                </td>
            </tr>
        }
    }
</table>

<br />
<br />
<h3>History Projects</h3>

 <table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pro_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.strt_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        
    </tr>
    @foreach (var item in Model)
    {
        if (item.stat == "done")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.pro_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.strt_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.end_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.leader_name)
                </td>
                

            </tr>
        }
    }
</table>
