@model IEnumerable<PMS.Models.team>

@{
    ViewBag.Title = "List_MT";
    Layout = "~/Views/Shared/_Home.cshtml";
}


@using (Html.BeginForm("AddProject", "Project", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <fieldset disabled="disabled">
            <input type="text" name="cust_name" value="@HttpContext.Current.User.Identity.Name" hidden />
            <div class="form-group">
                <label class="control-label col-md-2">Project_Name</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" name="name" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Description</label>
                <div class="col-md-10">
                    <input class="form-control" type="text" name="descrption" />
                </div>
            </div>

            <input type="text" name="usrname" value="@HttpContext.Current.User.Identity.Name" hidden />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary btn-large" />
                </div>
            </div>
        </fieldset>
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table  class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.leader_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.member_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project_name)
        </th>
    
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.leader_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.member_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project_name)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-primary btn-large" })
            </td>
        </tr>
    }

</table>
