@model IEnumerable<PMS.Models.projectAssign>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_admin_MD_TL.cshtml";
}

<h3>Current Projects</h3>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.project.cust_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.descrption)
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.project.stat == "doing")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.project.cust_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.project.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.project.descrption)
                </td>
          

                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.id } , new { @class = "btn btn-primary btn-large" })
                </td>
            </tr>
        }
    }
</table>

<br />
<br />


<h3>History Projects</h3>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.project.cust_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.descrption)
        </th>

        
    </tr>

    @foreach (var item in Model)
    {
        if (item.project.stat == "done")
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.project.cust_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.project.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.project.descrption)
        </td>

    </tr>
        }
    }
</table>
