@model PMS.Models.project

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_admin_MD_TL.cshtml";
}

<h2>Details</h2>

<div>
    <h4>project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descrption)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descrption)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cust_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cust_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "ListProjects")
</p>
