@model PMS.Models.ProjectAssignment

@{
    ViewBag.Title = "List_dm";
    Layout = "~/Views/Shared/_Customer_Trainee.cshtml";
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<h2>List_dm</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(x => x.project.cust_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.descrption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.stat)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.projects)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cust_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descrption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stat)
            </td>
            <td>
                @using (Html.BeginForm("AssignMD", "Project", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.DropDownListFor(m => m.projectAs.name_dm, new SelectList(Model.mds, "Username", "Username"), "Choose MD", new {@Name="name_dm", @class = "form-control" })
                    <input type="text" name="proId" value="@item.id"  hidden/>
                    <input type="text" name="usrname" value="@HttpContext.Current.User.Identity.Name" hidden />
                    <input type="submit" value="Add" class="btn btn-default"/>
                    
                }
                @Ajax.ActionLink("Mdir","Mdir", new { id=item.id } ,new AjaxOptions()
           {

               HttpMethod= "GET",
               UpdateTargetId = "divMDs",
               InsertionMode= InsertionMode.Replace

           })
                <div id="divMDs"></div>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
