@model IEnumerable<PMS.Models.project>

@{
    ViewBag.Title = "ListProjects";
    Layout = "~/Views/Shared/_admin_MD_TL.cshtml";
}

<h2>Projects</h2>

<p>
    @Html.ActionLink("New Project", "AddProject")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descrption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cust_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descrption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cust_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "DeleteProject", new { id=item.id })
        </td>
    </tr>
}

</table>
