@model PMS.Models.ProjectAssignment

@{
    ViewBag.Title = "List_dm";
    Layout = "~/Views/Shared/_Customer_Trainee.cshtml";
}


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<h2>List_dm</h2>
<button id="hide">Hide</button>
<button id="show">Show</button>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(x => x.project.cust_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.descrption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.project.stat)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.projects)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descrption)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })

                @using (Html.BeginForm("AssignMD", "Project", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.DropDownListFor(m => m.projectAs.name_dm, new SelectList(Model.mds, "Username", "Username"), "Choose MD", new { @Name = "name_dm", @class = "form-control", @style = "width:150px;height:33px;display:inline-block;font-size:14px" })
                    <input type="text" name="proId" value="@item.id" hidden />
                    <input type="text" name="usrname" value="@HttpContext.Current.User.Identity.Name" hidden />
                    <input type="submit" value="add" style="width:50px;height:30px;border:none;border-radius:5px;" />

                }
                <br />
                <p style="font-size:10px;margin-bottom:0px">marketing directors you've been assigned</p>
                <table>
                    @foreach (var itemAs in Model.projectAsinss)
                    {
                        if (itemAs.proId == item.id)
                        {
                            <tr style="font-size:small">

                                <td >
                                    @Html.DisplayFor(modelItem => itemAs.name_dm)
                                </td>

                                <td>
                                    <a href="#"><i class='fas fa-user-alt-slash' style='font-size:12px'></i>delete</a>
                                </td>
                            </tr>
                        }
                    }
                </table>

            </td>
        </tr>
 
    }

</table>


